<html>
  <body>
    <p>
      Thank you for your purchase!
    </p>
    <ul>
      <li>Order ID: {{order_id}}</li>
    </ul>
    <p>Your prepaid order was delivered successfully. We appreciate your trust
      and hope to serve you again soon.</p>
    <p>Need help? Contact us
      <a href="https://biluibaba.com/contact-us">here</a></p>
  </body>
</html>