<html>
  <body>
    <p>
      Your order has been dispatched!
    </p>
    <ul>
      <li>Order ID: {{order_id}}</li>
    </ul>
    <p>Need help? Contact us
      <a href="https://biluibaba.com/contact-us">here</a></p>
  </body>
</html>