<html>
  <body>
    <p>
      Your order is confirmed! You chose Cash on Delivery as your payment
      method.
    </p>
    <p>Order ID: {{orderId}}</p>
    <p>We’ll process your order and update you once it’s on the way.
    </p>
    <p>Need help? Contact us
      <a href="https://biluibaba.com/contact-us">here</a></p>
  </body>
</html>