<html>
  <body>
    <p>
      Refund Being Processed
    </p>
    <ul>
      <li>Order ID: {{order_id}}</li>
    </ul>
    <p>Your prepaid order has been cancelled and a refund of ৳{{amount}}
      is being processed to your original payment method.</p>
    <p>Please note: It may take 3–7 business days to reflect in your account.
    </p>
    <p>Need help? Contact us
      <a href="https://biluibaba.com/contact-us">here</a></p>
  </body>
</html>