<html>
  <body>
    <p>
      Thank you for your order! Your payment of ৳{{amount}}
      has been successfully received via SSLCommerz. Please find the invoice
      attached below.
    </p>
    <p>Order ID: {{orderId}}</p>
    <p>We are now processing your order and will notify you once it's
      dispatched.
    </p>
    <p>Need help? Contact us
      <a href="https://biluibaba.com/contact-us">here</a></p>
    <p></p>
  </body>
</html>