<html>
  <body>
    <p>
      Order Cancelled
    </p>
    <ul>
      <li>Order ID: {{order_id}}</li>
    </ul>
    <p>Your order has been cancelled. If you have any questions or need help,
      please reach out to us.</p>
    <p>Need help? Contact us
      <a href="https://biluibaba.com/contact-us">here</a></p>
  </body>
</html>