<html>
  <body>
    <h3>Hi {{cus_name}}</h3>
    <p>
      Great news! Your application to adopt “{{pet_name}}” has been approved!
    </p>
    <p>
      Our team at Biluibaba will now take care of the next steps, including
      arranging the safe delivery of your new companion. We’ll be in touch
      shortly with updates.
    </p>

    <p>We’re thrilled for both you and
      {{pet_name}}
      — thank you for choosing to give them a loving home.</p>
    <p>— BBIT</p>
    <p></p>
  </body>
</html>