<html>
  <body>
    <h3>Hi {{cus_name}}</h3>
    <p>
      We’re reaching out to inform you that your application for “{{pet_name}}”
      was not approved. Since you had already completed your payment, we’ve
      initiated a full refund of your payment.
    </p>
    <p>We appreciate your intention to adopt and hope you’ll explore other
      animals listed on our platform.</p>
    <h4>
      Refund Details
    </h4>
    <ul>
      <li>Order ID: {{orderId}}</li>
      <li>Amount to be refunded: {{amount}}</li>
      <li>Estimated Timeframe: 3-5 business days</li>
    </ul>

    <p>We understand this may be disappointing and encourage you to explore
      other adoption options on our site.</p>
    <p>Thank you for your support.</p>
    <p>— BBIT</p>
    <p></p>
  </body>
</html>