<html>
  <body>
    <h3>Hi {{cus_name}}</h3>
    <p>
      Thank you for submitting your adoption post! We’ve reviewed your listing
      for “{{pet_name}}” and are happy to let you know that it’s now approved
      and live on our platform.
    </p>
    <p>
      People looking to adopt can now view your post and apply directly through
      it.
    </p>
    <p>If need be, you can remove the post from your dashboard.</p>
    <p>Thanks for helping an animal find a home.</p>
    <p>— BBIT</p>
    <p></p>
  </body>
</html>