<html>
  <body>
    <p>
      Hi
      {{name}},
    </p>
    <p> Your physical appointment on {{date}} {{time}} has been cancelled.</p>
    <p>Refund:
      {{total_amount}}
      (expected 3 to 5 business days).</p>
    <p>Please find the invoice attached below</p>

    <p>Need help? Contact us
      <a href="https://biluibaba.com/contact-us">here</a></p>
  </body>
</html>