<html>
  <body>
    <h3>Admin Notice:</h3>
    <p>
      {{poster_name}}
      has declined
      {{applicant_name}}’s adoption application for “{{pet_name}}”.
    </p>
    <p>Please ensure both parties complete the process smoothly.
    </p>
    <p>— System Notification</p>
  </body>
</html>