<html>
  <body>
    <p>
      A new order has been placed.
    </p>
    <ul>
      <li>Order ID: {{order_id}}</li>
      <li>Customer: {{cus_name}}</li>
      <li>Payment Status: {{payment_status}}</li>
      <li>Total Amount: ৳{{total_amount}}</li>
    </ul>
  </body>
</html>