<html>
  <body>
    <p>Admin Team,</p>
    <p>This appointment was canceled.</p>
    <ul>
      <li>ID: {{appointmentId}}</li>
      <li>Doctor: {{vet_name}}</li>
      <li>Patient: {{cus_name}}</li>
      <li>Refund: {{total_amount}}</li>
    </ul>

    <p>- System</p>
  </body>
</html>